<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JioTV Proxy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">JioTV Proxy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"
                >TV Channels</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mb-3 pt-3">
      <form action="/" method="get" target="">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Channel Name"
            aria-label="Channel Name"
            aria-describedby="button-addon2"
            name="query"
            required
          />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="button-addon2"
          >
            Search
          </button>
        </div>
      </form>
    </div>
    {% if channels|length == 0 %}

    <div class="container">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">No Results Found!</h4>
        <p>No TV channels found for <b>{{query}}</b>!.</p>
      </div>
    </div>

    {% endif %}
    <div class="row row-cols-5 row-cols-md-5 g-4 p-3 mx-auto">
      {% for channel in channels %}
      <div class="col">
        <div class="card">
          <img src="{{ channel.logo }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ channel.title }}</h5>
            <a
              class="btn btn-primary"
              href="/player?stream_url={{ channel.link }}"
              role="button"
              >Watch Live Now</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="container text-center mb-2">
      {% if search and query.strip()%}
      <a type="button" class="btn btn-outline-success btn-lg" href="/"
        >Show all</a
      >
      {% endif %}
    </div>
  </body>
</html>
