<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JioTV Player</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <input
      type="hidden"
      name="stream_url"
      value="{{ stream_url }}"
      id="stream_url"
    />
    <div class="container">
      <video controls crossorigin playsinline></video>
    </div>
    <!-- Plyr resources and browser polyfills are specified in the pen settings -->
    <!-- Hls.js 0.9.x and 0.10.x both have critical bugs affecting this demo. Using fixed git hash to when it was working (0.10.0 pre-release), until https://github.com/video-dev/hls.js/issues/1790 has been resolved -->
    <script src="https://cdn.rawgit.com/video-dev/hls.js/18bb552/dist/hls.min.js"></script>
    <!-- partial -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
